body{
    margin: 0;
    height: 600vh;
    overflow-x: hidden;
}
.container {
  padding: auto;
  
}

.navbar{
    width: 100%;
    padding: 30px;
    height: 10px;
    display: flex;
    flex-direction: row;
}

.logo{
    margin: 0 150px;
    height: 30px;
    width: 200px;
}

.links{
    float: right;
    font-style: italic;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 20px;

}
.link{
    margin: 10px;
    color: black;
    text-decoration: none;
}

.bodyimg{
    width: 100%;
    height: 570px;
}

.round{
    display: flex;
    height: 70px;
    width: 80%;
    flex-direction: row;
    border: 2px solid;
    border-radius: 10px;
    margin-left: 150px;
    text-align: center;
    color: white;
    background-color: #191e3b;
}

#nonscollable{
    background-color: white;
    display: flex; 
    align-items: center;
    /* justify-content: center; */
    position: absolute;
    top: 380px;
}
.boxes{
    height: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    width: 27%;
    margin: 0 10px;
}
.seek{
    background-color: #1668e3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    height: 40px;
    margin: 0 8px;
    width: 80px;
}

#signin{
    margin-top: 20px;
}

#welcome{
    position: absolute;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    margin-left: 150px;
    color: white;
    top: 300px;
}

.round2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 80%;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    margin: 40px auto;
    color: white;
    background-color: #191e3b;
}

#icon {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
}

.register {
    width: 70px;
    height: 40px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    background-color: #1668e3;
}

.hold{
    display: flex;
    margin-top: 10px;
    margin-left: 120px;
}

.ads {
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 415px;
    margin-left: 15px;
    border: none;
    border-radius: 20px;
    overflow: hidden;
}

.img {
    width: 200px;
    background-image: url("images/pic.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    padding: 10px;
    color: white;
    background-color: #1668e3;
    flex: 1; /* fills remaining space */
}

.accommodation {
    padding: 40px;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 10px 70px 0 100px;
}

.accommodation h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}

.acc-card-container {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 20px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; 

}

.acc-card {
    min-width: 220px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    position: relative;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.acc-card p {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

